<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://d1dvet7fxhgup5.cloudfront.net/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Habit Tracker Login</h2>
        <input id="username" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
        <button onclick="login()">Login</button>
        <p id="result" style="color: red;"></p>
        <a href="/signup_page" class="link-btn">Don't have an account? Signup</a>
    </div>

    <script>
    function login() {
        fetch("/api/login", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            })
        })
        .then(res => res.json())
        .then(data => {
            if (data.token) {
                localStorage.setItem("token", data.token);
                window.location.href = "/dashboard";
            } else {
                document.getElementById('result').innerText = data.message;
            }
        });
    }
    </script>
</body>
</html>